@model LatinMedia.Core.ViewModels.ChangePasswordViewModel
@{
    ViewData["Title"] = "تغییر کلمه عبور";
}

<div class="content">
    <div class="container-fluid">
        <form method="post" asp-action="ChangePassword">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">تغییر مشخصات کاربری</h4>
                        </div>
                        <div class="card-body">


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group bmd-form-group">
                                        <label class="bmd-label-floating">کلمه عبور قدیمی</label>
                                        <input asp-for="OldPassword" type="text" class="form-control">
                                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group bmd-form-group">
                                        <label class="bmd-label-floating">کلمه عبور جدید</label>
                                        <input asp-for="NewPassword" class="form-control">
                                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group bmd-form-group">
                                        <label class="bmd-label-floating">تکرار کلمه عبور قدیمی</label>
                                        <input asp-for="ReNewPassword" type="text" class="form-control">
                                        <span asp-validation-for="ReNewPassword" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary pull-right btn-round">اعمال تغییرات</button>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>

        </form>

    </div>
</div>



