@model LatinMedia.Core.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/js/vendor/sweetalert.min.js"></script>

@if (ViewBag.IsSuccess == true)
{
    <script>
        // swal("موفق!", "با موفقیت وارد سایت شدید", "success");
        // Your delay in milliseconds
        swal({
            title: "موفقیت آمیز!",
            text: "شما وارد حساب کاربری خود شده اید",
            icon: "success",
            button: "فهمیدم",
        });
        var delay = 2000;
        setTimeout(function () { window.location = "https://localhost:44351"; }, delay);
    </script>
}

@if (ViewBag.EditProfile == true)
{
    <script>
    swal({
        title: "اطلاعات پروفایل شما به درستی ویرایش گردید",
            text: "لطفا مجدداً وارد شوید",
            icon: "success",
            button: "فهمیدم",
        });
    </script>
}
<link href="~/css/Register.css" rel="stylesheet" />
<div class="full-width">
    <div class="register-box fre-authen-register">
        <div class="logo logo-sm logo-register"></div>
        <div class="titleBar"></div>

        <h2>ورود به سایت</h2>
        <form role="form" asp-action="Login" method="post">

            <div class="fre-input-field">
                <input type="text" asp-for="Email" placeholder="ایمیل">
                <span asp-validation-for="Email"></span>
            </div>
            <div class="fre-input-field">
                <input type="password" asp-for="Password" placeholder="کلمه عبور">
                <span asp-validation-for="Password"></span>
            </div>
            <div class="fre-input-field">
                <button class="fre-btn btn-submit primary-bg-color">ورود</button>
            </div>

            <input type="checkbox" checked="" data-val="true" data-val-required="The مرا به خاطر بسپار field is required." id="RememberMe" name="RememberMe" value="true">
            <label asp-for="RememberMe" class="label-check">
                <span class="checkbox primary primary"><span></span></span>
                مرا به خاطر بسپار
            </label>

            <p>رمزتان را گم کرده‌اید؟ <a href="/ForgotPassword" class="alert-danger">اینجا کلیک کنید</a></p>

        </form>
        <p>@*با عضویت و ساخت حساب در سایت، من تمام <a href="#" class="secondary-color" rel="noopener noreferrer" target="_Blank">قوانین سایت و مقررات حریم خصوصی</a> را می پذیرم*@</p>
        <div class="fre-authen-footer">
            <p>حساب کاربری ندارید ؟ <a asp-action="Register" class="secondary-color">ثبت نام در سایت</a></p>
        </div>
    </div>
</div>
