@model LatinMedia.Core.ViewModels.AccountViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/Register.css" rel="stylesheet" />
<div class="full-width">
    <div class="register-box fre-authen-register">

        <div class="logo logo-sm logo-register"></div>
        <div class="medal"></div>
        <div class="titleBar"></div>


        <h2>عضویت در سایت</h2>
        <form role="form" asp-action="Register" method="post">

            <div class="fre-input-field">
                <input type="text" asp-for="FirstName" placeholder="نام">
                <span asp-validation-for="FirstName"></span>
            </div>
            <div class="fre-input-field">
                <input type="text" asp-for="LastName" placeholder="نام خانوادگی">
                <span asp-validation-for="LastName"></span>
            </div>
            <div class="fre-input-field">
                <input type="text" asp-for="Mobile" placeholder="موبایل">
                <span asp-validation-for="Mobile"></span>
            </div>
            <div class="fre-input-field">
                <input type="text" asp-for="Email" placeholder="ایمیل">
                <span asp-validation-for="Email"></span>
            </div>
            <div class="fre-input-field">
                <input type="password" asp-for="Password" placeholder="کلمه عبور">
                <span asp-validation-for="Password"></span>
            </div>
            <div class="fre-input-field">
                <input type="password" asp-for="RePassword" placeholder="تکرار کلمه عبور">
                <span asp-validation-for="RePassword"></span>
            </div>
            <div class="fre-input-field">
                <button class="fre-btn btn-submit primary-bg-color">ثبت نام</button>
            </div>

        </form>
        <p>با عضویت و ساخت حساب در سایت، من تمام <a href="#" class="secondary-color" rel="noopener noreferrer" target="_Blank">قوانین سایت و مقررات حریم خصوصی</a> را می پذیرم</p>
        <div class="fre-authen-footer">
            <p>از قبل حساب کاربری دارید؟ <a asp-action="Login" class="secondary-color">ورود</a></p>
        </div>
    </div>
</div>