@model LatinMedia.DataLayer.Entities.User
<div>
    <img src="~/images/avatars/avatar_06.jpg" alt="Alternate Text" />
</div>

<div class="alert alert-danger" style="text-align: center; height: 120px; line-height: 120px; width: 60%; color : #a94442; background-color: #f2dede; border-color: #ebccd1; margin: 30px auto; font-family: 'B Yekan' Tahoma; font-size: 16px">ایمیل فعال سازی</div>
<div style="direction: rtl; width: 100%; background-color: lightblue; padding: 20px; box-sizing: border-box;">
    <h3>@(Model.FirstName + " " + Model.LastName)  عزیز!</h3>
    <p>
        جهت تغییر کلمه عبور اکانت خود لطفا بر روی دکمه زیر کلکیک کنید.
    </p>
    <a class="button primary" href="https://localhost:44351/Account/ResetPassword/@Model.AcrivationCode">فعال سازی حساب کاربری</a>
    @* <input type="button" class="button secondary" asp-route="/Account/ActiveAccount/@Model.AcrivationCode" value="تایید ثبت نام و ارسال کد فعال سازی" />*@
    <br /><br />
    فروشگاه اینترنتی بافر شاپ در خدمت مشتریان محترم
</div>